/* settings start */
@import url(fonts.css);

:root {
    --RB700: 'Roboto-Bold';
    --RR400: 'Roboto-Regular';
    --C700: 'Comfortaa-Bold';
    --C400: 'Comfortaa-Regular';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* settings end */
/* ************************************ */
/* header start */

